@layer components {
  .row {
    @media (--tablet-lg) {
      display: flex;
      gap: var(--spacing-6);
    }

    @media (--desktop) {
      gap: var(--spacing-12);
    }
  }

  .teams-dropdown {
    align-items: center;
    background-color: var(--brand-blue-dark-2);
    border: solid 1px var(--grayscale-white);
    border-radius: 4px;
    color: var(--grayscale-white);
    cursor: pointer;
    display: flex;
    font-family: var(--font-family-heading);
    font-size: var(--responsive-font-size-7);
    inline-size: 100%;
    justify-content: space-between;
    line-height: 1;
    padding: var(--spacing-1-5) var(--spacing-2);
    z-index: 10;

    @media (--tablet-lg) {
      display: none;
    }

    svg {
      position: relative;
      top: 1px;
    }

    &[aria-expanded='true'] {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .teams {
    margin-block-end: var(--spacing-8);
    position: relative;
    top: -4px;
    z-index: 1;

    @media (--tablet-lg) {
      background-color: transparent;
      flex-basis: 300px;
      flex-shrink: 0;
      height: 100%;
      margin-block-end: 0;
      padding: 0;
      position: sticky;
      top: var(--spacing-3);
      z-index: 1;
    }

    ul {
      background-color: var(--grayscale-white);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0 0 12px rgba(0 0 0 / 100%);
      inline-size: 100%;
      margin-block: -0.5rem 0;
      opacity: 0;
      padding: var(--spacing-3) var(--spacing-2) var(--spacing-2);
      pointer-events: none;
      position: absolute;
      transition: opacity 200ms ease-in-out;
      z-index: -1;

      &[aria-hidden='false'] {
        opacity: 1;
        pointer-events: visible;
      }

      @media (--tablet-lg) {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        margin-block: 0;
        opacity: 1;
        padding: 0;
        pointer-events: visible;
        position: relative;
        top: -4px;
        z-index: 1;
      }
    }

    li {
      list-style: none;
      padding: 0;
    }

    label {
      font-size: var(--font-size-3);

      @media (--tablet-lg) {
        display: none;
      }
    }
  }

  .team {
    background-color: transparent;
    border: 0;
    color: var(--brand-blue-dark-1);
    cursor: pointer;
    font-family: var(--font-family-heading);
    font-size: var(--responsive-font-size-7);
    line-height: 1;
    padding-block: var(--spacing-0-5);
    text-align: left;
    transition: color 350ms ease-in-out;

    @media (--tablet-lg) {
      color: var(--grayscale-white);
    }

    &:hover,
    &:focus {
      color: var(--brand-yellow-base);
    }

    &[data-active='true'] {
      color: var(--brand-blue-dark-1);
    }
  }

  .schedule {
    @media (--tablet-lg) {
      flex-grow: 1;
    }

    ul {
      padding-inline-start: 0;
    }
  }

  .title {
    background-color: var(--brand-yellow-base);
    border-radius: 4px;
    color: var(--brand-blue-dark-1);
    display: none;
    font-family: var(--font-family-heading);
    inline-size: 100%;
    line-height: 1;
    margin-block: 0 var(--spacing-5);
    padding-block: var(--spacing-1);
    padding-inline: var(--spacing-2);
    text-transform: uppercase;

    @media (--tablet-lg) {
      display: block;
    }
  }

  .schedule-item {
    display: flex;
    flex-direction: column;
    margin-block-end: var(--spacing-8);

    @media (--tablet) {
      flex-direction: row;
      gap: var(--spacing-2);
      margin-block-end: var(--spacing-5);
    }
  }

  .date {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    padding-block-end: var(--spacing-1-5);

    @media (--tablet) {
      flex: 70px 0 0;
    }
  }

  .month {
    line-height: 1;
  }

  .day {
    color: var(--brand-yellow-base);
    font-family: var(--font-family-heading);
    font-size: var(--responsive-font-size-14);
    line-height: 1;
  }

  .matches {
    background-color: rgba(21 26 38 / 70%);
    border: solid 1px var(--grayscale-white);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .match {
    align-items: center;
    border-top: solid 1px var(--grayscale-white);
    display: flex;
    flex-direction: column;
    font-weight: 300;
    letter-spacing: 1px;
    padding-block-end: var(--spacing-3);

    &:first-child {
      border-top: 0;
    }
  }

  .time {
    background-color: var(--grayscale-white);
    clip-path: polygon(0 0, 100% 0, calc(100% - 0.5rem) 100%, 0.5rem 100%);
    color: var(--brand-blue-dark-1);
    display: inline-block;
    font-size: var(--font-size-3);
    font-weight: 500;
    inline-size: 65px;
    position: relative;
    text-align: center;
    top: -1px;

    @media (--desktop) {
      inline-size: 100px;
    }
  }

  .team-names {
    align-items: center;
    display: flex;
    inline-size: 100%;
    justify-content: space-between;
    padding-block-start: var(--spacing-0-5);
  }

  .team-name {
    font-size: var(--responsive-font-size-2);
    font-weight: 400;
    inline-size: 40%;
    line-height: 1.1;
    text-align: center;
    transition: color 350ms ease-in-out;

    &[data-active='true'] {
      color: var(--brand-yellow-base);
      font-weight: 700;
    }

    @media (--tablet) {
      font-size: var(--responsive-font-size-4);
    }
  }

  .line {
    background-color: var(--brand-yellow-base);
    block-size: 35px;
    border-radius: 4px;
    inline-size: 2px;
    position: absolute;
    transition: all 350ms ease-in-out;
    z-index: -1;

    @media (--tablet-lg) {
      block-size: 37px;
    }
  }
}
