@layer components {
  .row {
    @media (--tablet-lg) {
      display: flex;
      gap: var(--spacing-6);
    }

    @media (--desktop) {
      gap: var(--spacing-15);
    }
  }

  .left {
    margin-block-end: var(--spacing-8);

    @media (--tablet-lg) {
      flex-basis: 320px;
      flex-shrink: 0;
      height: 100%;
      position: sticky;
      top: var(--spacing-3);
    }
  }

  .teams-dropdown {
    align-items: center;
    background-color: var(--brand-blue-dark-2);
    border: solid 1px var(--brand-yellow-base);
    border-radius: 4px;
    color: var(--grayscale-white);
    cursor: pointer;
    display: flex;
    font-size: var(--responsive-font-size-6);
    inline-size: 100%;
    justify-content: space-between;
    letter-spacing: 1px;
    line-height: 1;
    padding: var(--spacing-1-5) var(--spacing-2);
    z-index: 10;

    svg {
      position: relative;
      top: 1px;
    }

    &[aria-expanded='true'] {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .team-select__option {
    color: var(--brand-blue-dark-1);
  }

  .teams {
    margin-block-end: var(--spacing-8);
    position: relative;
    z-index: 10;

    @media (--tablet-lg) {
      background-color: transparent;
      padding: 0;
      z-index: 1;
    }

    ul {
      background-color: var(--grayscale-white);
      border: solid 1px var(--brand-yellow-base);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0 0 12px rgba(0 0 0 / 100%);
      inline-size: 100%;
      margin-block: -0.5rem 0;
      opacity: 0;
      padding: var(--spacing-3) var(--spacing-2) var(--spacing-2);
      pointer-events: none;
      position: absolute;
      transition: opacity 200ms ease-in-out;
      z-index: -1;

      &[aria-hidden='false'] {
        opacity: 1;
        pointer-events: visible;
      }
    }

    li {
      list-style: none;
      padding: 0;
    }

    label {
      font-size: var(--font-size-3);
    }
  }

  .team {
    background-color: transparent;
    border: 0;
    border-radius: 4px;
    color: var(--brand-blue-dark-1);
    cursor: pointer;
    font-size: var(--responsive-font-size-6);
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    padding-block: var(--spacing-0-5);
    text-align: left;
    transition: color 350ms ease-in-out;

    &:hover,
    &:focus {
      color: var(--brand-yellow-base);
    }

    &[data-active='true'] {
      background-color: var(--brand-yellow-base);
      color: var(--brand-blue-dark-1);
    }
  }

  .right {
    margin-block-end: var(--spacing-5);

    @media (--tablet-lg) {
      flex-grow: 1;
    }
  }

  .title {
    background-color: var(--brand-yellow-base);
    border-radius: 4px;
    color: var(--brand-blue-dark-1);
    font-family: var(--font-family-heading);
    inline-size: 100%;
    line-height: 1;
    margin-block: 0 var(--spacing-4);
    padding-block: var(--spacing-1);
    padding-inline: var(--spacing-2);
    text-transform: uppercase;

    .teams & {
      display: none;

      @media (--tablet-lg) {
        display: block;
      }
    }
  }
}

.standings {
  ul {
    padding-inline: 0;

    @media (--tablet-lg) {
      padding-inline: var(--spacing-1);
    }
  }
}

.standings-item {
  display: flex;
  font-size: var(--responsive-font-size-4);
  font-weight: 400;
  gap: var(--spacing-1-5);
  letter-spacing: 1px;
}

.standings-record {
  font-weight: 700;
}

/* .standings-dropdown {
  background-color: var(--brand-blue-dark-2);
  border: solid 1px var(--grayscale-white);
  border-radius: 4px;
  color: var(--grayscale-white);
  font-size: var(--responsive-font-size-6);
  inline-size: 100%;
  letter-spacing: 1px;
  line-height: 1;
  padding: var(--spacing-1-5) var(--spacing-2);
  text-align: left;
  text-transform: uppercase;
} */
